### THIS IS ASSIGNMENT 1

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mlt

In [ ]:
df = pd.read_excel('/content/DS - Assignment Part 1 data set.xlsx')
df

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1
...,...,...,...,...,...,...,...,...,...
409,2013.000000,13.7,4082.01500,0,24.94155,121.50381,3,803,15.4
410,2012.666667,5.6,90.45606,9,24.97433,121.54310,2,1278,50.0
411,2013.250000,18.8,390.96960,7,24.97923,121.53986,1,503,40.6
412,2013.000000,8.1,104.81010,5,24.96674,121.54067,1,597,52.5
413,2013.500000,6.5,90.45606,9,24.97433,121.54310,2,1097,63.9

In [ ]:
df.corr()

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
Transaction date,1.000000,0.017542,0.060880,0.009544,0.035016,-0.041065,0.061985,0.068405,0.087529
House Age,0.017542,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.008756,-0.060361,-0.210567
Distance from nearest Metro station (km),0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.046856,0.001795,-0.673613
Number of convenience stores,0.009544,0.049593,-0.602519,1.000000,0.444143,0.449099,0.043638,0.033286,0.571005
latitude,0.035016,0.054420,-0.591067,0.444143,1.000000,0.412924,0.043921,0.031696,0.546307
longitude,-0.041065,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.041680,0.009322,0.523287
Number of bedrooms,0.061985,-0.008756,-0.046856,0.043638,0.043921,0.041680,1.000000,0.752276,0.050265
House size (sqft),0.068405,-0.060361,0.001795,0.033286,0.031696,0.009322,0.752276,1.000000,0.046489
House price of unit area,0.087529,-0.210567,-0.673613,0.571005,0.546307,0.523287,0.050265,0.046489,1.000000

In [ ]:
df.notnull().sum()

Transaction date                            414
House Age                                   414
Distance from nearest Metro station (km)    414
Number of convenience stores                414
latitude                                    414
longitude                                   414
Number of bedrooms                          414
House size (sqft)                           414
House price of unit area                    414
dtype: int64

 We can drop house size as it closely resembles to number of bedrooms

---

In [ ]:
df = df.drop(['Transaction date','House size (sqft)'],axis='columns')
df

,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House price of unit area
0,32.0,84.87882,10,24.98298,121.54024,1,37.9
1,19.5,306.59470,9,24.98034,121.53951,2,42.2
2,13.3,561.98450,5,24.98746,121.54391,3,47.3
3,13.3,561.98450,5,24.98746,121.54391,2,54.8
4,5.0,390.56840,5,24.97937,121.54245,1,43.1
...,...,...,...,...,...,...,...
409,13.7,4082.01500,0,24.94155,121.50381,3,15.4
410,5.6,90.45606,9,24.97433,121.54310,2,50.0
411,18.8,390.96960,7,24.97923,121.53986,1,40.6
412,8.1,104.81010,5,24.96674,121.54067,1,52.5
413,6.5,90.45606,9,24.97433,121.54310,2,63.9

#### IT IS EXPERIMENTAL GIVES GREATER ACCURACY

In [ ]:
df['House price of unit area'] = df['House price of unit area'].astype(int)

#### USED STANDARD SCLAR FOR MINIMIZING COMPUTION

In [ ]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
# df = s.fit_transform(df)
# len(df[0])

In [ ]:
x = df.drop('House price of unit area',axis='columns')
y = df['House price of unit area']
x = s.fit_transform(x)
x

array([[ 1.25562833, -0.79249504,  2.00740743,  1.12542986,  0.44876222,
        -1.20789893],
       [ 0.15708622, -0.61661163,  1.66750286,  0.91244418,  0.40113894,
         0.01476649],
       [-0.38779067, -0.41401527,  0.30788458,  1.48686011,  0.68818339,
         1.23743191],
       ...,
       [ 0.09556786, -0.54967846,  0.98769372,  0.82289338,  0.42397202,
        -1.20789893],
       [-0.84478419, -0.77668389,  0.30788458, -0.18475479,  0.4768143 ,
        -1.20789893],
       [-0.98539758, -0.78807071,  1.66750286,  0.42757905,  0.63534112,
         0.01476649]])

TARIN TEST SPLIT WITH 80% TRAINING DATA AND 20% TEST DATA

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=.2)

In [ ]:
y_test.shape

(83,)

In [ ]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import xgboost

checking first basic model of llinear regression it will give base line for results

In [ ]:
LR = LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [ ]:
y_pred =LR.predict(X_test)

predictions are low on linear regression. It is because there are 5 to 6 parameter and not every parameter would be related to each other by linear manner.

In [ ]:
LR.score(X_test,y_test)

0.6662522669169261

#### Support vector machine

In [ ]:
SVM = SVR()
SVM.fit(X_train,y_train)

SVR()

It is trying to find supporting vectors near the line but due to small datapoints it is not able to give optimized results.

In [ ]:
SVM.score(X_test,y_test)

0.6290806302372997

#### Random Forest Regressor

In [ ]:
RF = RandomForestRegressor()
RF.fit(X_train,y_train)

RandomForestRegressor()

It is tree based algorithm. Which works great with large datapoints and if we give small trees size it can work great with it.

In [ ]:
RF.score(X_test,y_test)

0.8081330775641453

In [ ]:
from xgboost import XGBRegressor
xg = XGBRegressor()
xg.fit(X_train,y_train)

[07:46:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

It is also tree based algorithm but it will not randomly creates trees but with intial point. It gives nearly same results as random forest regressor.

In [ ]:
xg.score(X_test,y_test)

0.8062808449732533

### THIS IS ASSIGNMENT 2

In [26]:
import bs4
from bs4 import BeautifulSoup as bs
import requests

In [138]:
link = "https://www.flipkart.com/search?q=samsung+M53"
page = requests.get(link)
# page.content

In [139]:
g=  bs(page.content,'html.parser')
# print(g.prettify())

In [140]:
name = g.find('div',class_="_4rR01T")
print(name.text)

SAMSUNG M53 5G (Emerald Brown, 128 GB)

In [141]:
dis_price = g.find('div',class_="_30jeq3")
dis_price.text

'₹27,988'

In [142]:
mrp_price = g.find('div',class_="_3I9_wc _27UcVY")
mrp_price.text

'₹17,490'

In [143]:
link1 = "https://www.amazon.in/s?k=samsumg+a53"
# from bs4 import BeautifulSoup
# import requests
 
File = open("out.csv", "a")
 
HEADERS = ({'User-Agent':'Mozilla/5.0 (X11; Linux x86_64)AppleWebKit/537.36 (KHTML, like Gecko)Chrome/44.0.2403.157 Safari/537.36',
                           'Accept-Language': 'en-US, en;q=0.5'})
 
webpage = requests.get(link1, headers=HEADERS)
soup = bs(webpage.content, "lxml")

In [148]:
name = soup.find('span',class_="a-size-medium a-color-base a-text-normal")
name.text

'Samsung Galaxy A53 Light Blue, 6GB RAM, 128GB Storage'

In [153]:
dis_price = soup.find('span',class_="a-price")
dis_price.text.split('₹')[1]

'52,999.00'

In [151]:
mrp_price = soup.find('span',class_="a-price a-text-price")
mrp_price.text.split('₹')[1]

'85,999.00'